
	<div class='bold-line'></div>
	<div class='container'>
		<div class='window'>
			<div class='overlay'></div>
			<div class='content'>
				<div class='welcome'>Hello There!</div>
				<div class='subtitle'>You need to create an account to continue.</div>
				<div class='input-fields'>
					<input type='name' placeholder='Full Name' class='input-line full-width'></input>
					<input type='email' placeholder='Email' class='input-line full-width'></input>
					<input type='password' placeholder='Password' class='input-line full-width'></input>
				</div>
				<div class='spacing'>or continue with <span class='highlight'>Google</span></div>
				<div><button class='ghost-round full-width'>Create Account</button></div>
			</div>
		</div>
	</div>